@import "tailwindcss";

@theme inline {
  --font-text: var(--font-text);
  --font-style: var(--font-style);
  --color-maroon: #461B13;
  --color-orange: #D44F27;
  --color-orangecream: #E47406;
  --color-cream: #DA9674;
  --color-white: #f1f1f1;
  --color-black: #131313;
}

body {
  background: var(--color-white);
}
